:root {
  --text: #fff;
  --muted: #aaa;
  --accent: #007bff;
  --accent2: #a7bcd2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f1a33;
  color: var(--text);
}

.topbar {
  background: linear-gradient(135deg, rgba(18, 54, 62, 0.9), rgba(0, 123, 255, 0.8));
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.top-actions .nav-link {
  color: #f0f8ff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.top-actions .nav-link:hover {
  background-color: rgba(0, 123, 255, 0.6);
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.nav-link {
  color: var(--text);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
}

.intro-section, .features-section, .call-to-action {
  margin: 20px 0;
  padding: 20px;
  background: rgba(15, 26, 51, 0.88);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.features-section ul {
  list-style-type: none;
  padding: 0;
}

.features-section li {
  margin: 10px 0;
}

.call-to-action {
  text-align: center;
}

.call-to-action .btn {
  padding: 10px 20px;
  background: var(--accent);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.call-to-action .btn:hover {
  background: var(--accent2);
}

.footer {
  text-align: center;
  padding: 10px 0;
  background: rgba(15, 26, 51, 0.88);
  color: var(--muted);
}

.hero-section {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 5rem;
  font-weight: 700;
  color: #f0f8ff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.hero-subtitle {
  font-family: 'STXINGKAI', cursive;
  font-size: 3rem;
  font-weight: 500;
  color: #f0f8ff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  margin-top: 1.5rem;
}




.brand {
  display: flex;
  align-items: center;
}

.logo {
  margin-right:1rem;
}

.logo-image {
  max-height: 100px;
}

.title {
  height: 50px;
  margin-left: 50px;
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  color: var(--muted);
}
